@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');
body{
    padding:0px;
    margin: 0%;
    background: url("back-jspcurso.png") no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    color: black;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20vh;
}
.izquierda{
    display: flex;
    flex-direction: column;
}
.izquierda .subtitulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 4vh;
    margin-bottom: 5vh;
    text-align: center;
}
.izquierda form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.izquierda label{
    font-size: 2.8vh;
    margin-bottom: 1vh;
}

.izquierda input{
    border: 0.5vh solid #B8E28A;
    border-radius: 3vh;
    background-color: transparent;
    padding: 1.5vh 7vh;
    margin-bottom: 2vh;
}

.izquierda .button{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.5vh;
    background-color: #5EC57E;
    border: none;
    padding: 1.5vh 10vh;
    font-size: 2vh;
    font-weight: bold;
    color: white;
}

.izquierda .button:hover{
    background-color: transparent;
    border: solid 2px #5EC57E;
    color: #5EC57E;
    cursor: pointer;
}

.derecha .logo{
    width: 50vh;
}

@media screen and (max-width: 950px) {
    .main{
        flex-direction: column-reverse;
        gap: 10vh;
    }
    
}